* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: pink;
	padding: 30px 20px;
	display: flex;
	justify-content: flex-end;
}


.header > :first-child {
	margin-right: auto;
}

.header > div {
	background-color: #fbb3ff;
	height: 70px;
	flex-basis: 140px;
	margin: 0 10px;
}
